$black: #000;
$dark: #605856;
$intermediate: #d0ccd0;
$light: #fbfcff;
$primary-color: #1c6e8c;
$secondary-color: #274156;
$white: #fff;

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Luckiest Guy', cursive;
